a {
    color: #d2d3e5;
}

.footer {
  background-color: #1d1e2b;
  color: #fff;
  padding-top: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer__top {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    justify-items: center;
    font-size: 1.4rem;
    margin-bottom: 5rem;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    min-height: 37px;
}

.footer--ul {
    list-style-type: none;
    display: inline-flex;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 37px;
    align-items: center;
}

.footer--center {
    justify-content: center;
}

.footer--li {
    display: inline-block;
    text-decoration: none;
    margin-left: 3%;
    word-break: break-all;
    word-wrap: break-word;
}

.footer__icon {
    height: 3.5rem;
    Width: 3.5rem;
}

.footer--ul {
    list-style-type: none;
    display: inline-flex;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 37px;
    align-items: center;
}

.footer--li {
    display: inline-block;
    text-decoration: none;
    margin-left: 3%;
    word-break: break-all;
    word-wrap: break-word;
}

.footer__middle {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    -webkit-box-pack: center;
    justify-content: space-between;
    font-size: 1.4rem;
    margin-bottom: 5rem;
}

.footer__middle--ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footer__middle--li {
    font-weight: lighter;
    margin-top: 2rem;
    margin-left: 0;
    display: block;
}

.footer__middle--ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footer__middle--li {
    font-weight: lighter;
    margin-top: 2rem;
    margin-left: 0;
    display: block;
}

.footer--link {
    text-decoration: none;
    color: #d2d3e5;
    font-size: 12px;
    cursor: pointer;
}

.footer--h3 {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 15%;
}

.footer__small-print {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    justify-items: center;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05px;
    line-height: 33px;
    min-height: 33px;
    color: #d2d3e5;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media (max-width: 1440px) {
  .gutters {
    padding-left: 6%;
    padding-right: 6%;
  }
}
